.weblinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.weblinks li {
    margin: 0;
    padding: 0;
}

.weblinks li a {
    display: block;
    color: #2c2c2c63;
    color:rgb(0, 247, 255);
    font-size: 18px;
    margin:0;
    padding: 0;
}

.weblinks li a:hover {
    background-color: #1800f3;
    color: rgb(0, 38, 255);
}

.weblinks li a.active {
    background-color: #0059ff;
    color: rgb(47, 0, 255);
}

.weblinks-container {
    text-align: left;
  }
  a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: buttontext;
    background-color: buttonface;
    text-decoration: none;
}
a:link {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: rgb(25, 0, 255);
  }
  
  a:active {
    color: rgb(25, 0, 255);
  }
  
  a:link, a:visited {
    text-decoration: none;
  }
